.landingpage-portfolio{display: table; width: 100%; height: 100%; margin-top: 60px;}

.preview-portfolio {
	width: 50%;
	max-width: 50%;
	height: 400px;
	display: table-cell;
}
.table {
	display: table;
	width: 100%;
	height: 100%;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}
.pv-hover {
	margin: auto;
	background: rgba($gold,0.8);
	width: 248px;
	height: 248px;
	-webkit-transform: rotate(45deg);
}
.square {
	width: 350px;
	height: 350px;
	-webkit-transform: rotate(-45deg) translate(0px,-72px);
	text-align: center;
}
.link {
	margin: 70px 70px 0px 70px;
}
.link-box {
	margin: auto;
	width: 60px;
	height: 60px;
	-webkit-transform: rotate(-45deg) translate(-50px, 50px);
	border: 2px solid #fff;
}
.link-box i {
	-webkit-transform: rotate(45deg) translate(10px, 11px);
	color: white;
}
.pv-hover p {
	color: white;
	font-family: $pfnt;
	font-size: 20px;
}
.pv-hover {
	display: none;
}
.hover-firma{
	margin-top: 120px;
}
.hover-branche{
	margin-top: 14px;
}
.hover-drop {
	bottom: 0;
	position: absolute;
	-webkit-transform: translate(-10px, -10px);
}
a {text-decoration: none;}


//FORM
input,textarea {
	background: #c6c2b9;
	margin-top: 20px;
	font-size: 16px;
	font-family: $pfnt;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #eee;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #eee;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #eee;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #eee;
}

input[type="text"], input[type="email"], textarea{
	padding: 20px 14px;
	border: none;
}

.ip-name {
	width: 48%;
	height: 50px;
	float: left;
	border: none;
	padding-left: 16px;
	color: white;
}
.ip-mail {
	width: 48%;
	height: 50px;
	border: none;
	float: right;
	padding-left: 16px;
	color: white;
}
input:hover, input:focus,textarea:hover, textarea:focus {
	/*border-bottom: 1px solid $gold;*/
	box-shadow: inset 0 0 3px $gold;

}
.ip-betreff {
	width: 100%;
	box-sizing: border-box;
	height: 50px;
	border: none;
	padding-left: 16px;
	color: white;
}
.ip-nachricht {
	width: 100%;
	box-sizing: border-box;
	height: 150px;
	border: none;
	padding-left: 16px;
	padding-top: 16px;
	color: white;
	resize: none;
}

input[type="submit"] {
	width: 230px;
	background: $gold;
	height: 50px;
	border: none;
	color: white;
	margin-top: 30px;
	font-size: 16px;
	font-family: $pfnt;
	margin-bottom: 50px;
}
*:focus{
    outline: 0;
}
